includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 10
    paths:
        - src
        - tests
    scanFiles:
        - tests/Pest.php
    tmpDir: build/phpstan
    checkOctaneCompatibility: false